transformers~=4.34.0
opencv-python~=4.9.0.80
pandas~=2.0.3
mediapipe~=0.9.1.0
timm~=0.9.16
sacrebleu~=2.4.2
colorama~=0.4.6


torch~=2.2.1
numpy~=1.24.3
torchvision~=0.15.2
matplotlib~=3.7.2
pathlib~=1.0.1
pillow~=10.0.1
yaml~=0.2.5
pyyaml~=6.0